<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="current-weather">
      <ion-icon name="cloud"></ion-icon>
      <ion-label>Current Weather</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forecast">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Forecast</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="uv-index">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>UV Index</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
