<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Current Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true">
  <div class="information">
    <kws-temperature
      class="primary-value"
      scale="F"
      temperature="{{currentWeather?.temperature}}"
    ></kws-temperature>
  </div>
  <kws-condition
    [condition]="currentWeather?.condition"
    [iconPaths]="icons"
  ></kws-condition>
</ion-content>
